/* General Styles */
body {
    font-family: 'EB Garamond', serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #00549F;
    color: white;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    font-size: 36px;
    font-family: 'EB Garamond', serif;
}

header p {
    font-size: 20px;
    line-height: 1.5; 
    font-family: 'EB Garamond', serif;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #ffd966;
    font-family: 'EB Garamond', serif;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 5px 0;
    font-family: 'EB Garamond', serif;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    font-family: 'EB Garamond', serif;
}

